@model Core.Events.EventModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="../../Content/bootstrap-iso.css" />
<link rel="stylesheet" href="../../Content/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="../../Content/font-awesome.min.css"/>

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="list-group-item">
            <div class="form-group">

                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-commenting-o">
                            </i>
                        </div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AlarmObj.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar-o">
                            </i>
                        </div>
                        @Html.TextAreaFor(model => model.AlarmObj.Description, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="dateRangePicker">

                <div class="form-group">
                    @Html.LabelFor(model => model.From, htmlAttributes: new {@class = "control-label col-md-2", @for = "dateFrom"})
                    <div class="col-md-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar-plus-o">
                                </i>
                            </div>
                            @Html.EditorFor(model => model.From, new {@Value = Model.From.ToString("dd/MM/yyyy HH:mm"), htmlAttributes = new {@class = "form-control", @id = "dateFrom", @placeholder = "dd/MM/yyyy HH:mm", @type = "text"}})
                            @Html.ValidationMessageFor(model => model.From, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.To, htmlAttributes: new {@class = "control-label col-md-2", @for = "dateFrom"})
                    <div class="col-md-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar-plus-o">
                                </i>
                            </div>
                            @Html.EditorFor(model => model.To, new {@Value = Model.To.ToString("dd/MM/yyyy HH:mm"), htmlAttributes = new {@class = "form-control", @id = "dateTo", @placeholder = "dd/MM/yyyy HH:mm", @type = "text"}})
                            @Html.ValidationMessageFor(model => model.To, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
            </div>
            </div>

                <div class="list-group-item">
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsAllDay, "All day event", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-1">
                            <div class="input-group">

                                @Html.CheckBoxFor(model => model.IsAllDay, htmlAttributes: new { @checked = "checked", @class = "checkbox" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AlarmObj.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar-o">
                                    </i>
                                </div>
                                @Html.TextAreaFor(model => model.AlarmObj.Description, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DurationObj, "Reminder time", htmlAttributes: new { @class = "control-label col-md-2", @for = "alarm" })
                        <div class="col-md-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar-o">
                                    </i>
                                </div>
                                @Html.EditorFor(model => model.DurationObj, new { htmlAttributes = new { @class = "form-control", @id = "alarm", @type = "text" } })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @Html.HiddenFor(model => model.UID)
            <div class="form-group">
                <p> </p>
                <div class="col-md-offset-8 col-md-10">
                    <input type="button" value="Back" class="button" onclick="location.href='@Url.Action("Index")'" />
                    <input type="submit" value="Save" class="button" />
                </div>
            </div>
     
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/scripts/moment-with-locales.min.js"></script>
<script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/scripts/dateObject.js"></script>