@model IEnumerable<Core.Events.EventModel>

@{
    ViewBag.Title = "EventsListView";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           From
        </th>
        <th>
            To
        </th>
        <th>
			Name
        </th>
        <th>
            Commentary
        </th>
	    <th>
		    Created
	    </th>
		<th>
			All day event
		</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
	    <td>
		    @Html.DisplayFor(modelItem => item.Created.Date)
	    </td>
		<td>
			@Html.DisplayFor(modelItem => item.IsAllDay)
		</td>

	    <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.UID  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UID })
        </td>
    </tr>
}

</table>
